<form method='post' action="/articles/<%=#{@article.id}%>">
Title:<input type="hidden" id="hidden" name="_method" value="patch"><br>
Content:<input type="hidden" id="hidden" name="_method" value="patch"><br>
<input id="submit" type="submit"><br>
</form>